{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": 0
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
